
<h1>Master Planters</h1>


<h2>
  We Plant the Future!
</h2>

<img src="assets/img/mp.png">

<p>
  We here at Master Planters take a great deal of pride in giving our client the upmost planting experience they could ask for. From our products, to our service, to our employees and their 
  willingness to provide the best planting experience this side of the Mississippi. Contact us below for quotes, jokes and or if you just want to talk we can do that too.
</p>

<div class="contact">
<form method="POST" action="https://formspree.io/zgoldberg8@gmail.com">
  <input type= "name" name="name" placeholder ="Your name">
  <br>
  <input type= "phone" name="phone" placeholder ="Your phone number">
  <br>
  <input type="email" name="email" placeholder="Your email">
  <br>
  <textarea name="message" placeholder="Test Message"></textarea>
  <br>
  <button type="submit">Get In Touch</button>
</form>
</div>

