<h1>Admin Loging</h1>
<hr>
<hr>

<form #f="ngForm" (ngSubmit)="onSubemit(f)" [formGroup]="loginForm">
  <div>
    <div>
      <mat-form-field>
        <Input matInput placeholder="Email" formControlName="password" type="email" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" type="password" required/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="primary" type="submit">Login</button>
</form>
<br>