<h1>Login</h1>
<br>
<br>
<img src="assets/img/mp.png">

<div class="loginform">
<form #form="ngForm" (ngSubmit)="onSubmit(form)" [formGroup]="loginForm">
  <div>
    <div>
        <Input  placeholder="Email" formControlName="email" type="email" required/>
    </div>
    <br>
    
    <div>
        <input  placeholder="Password" formControlName="password" type="password" required/>
    </div>
  </div>
  <br>
  <button class="nav-btn" color="primary" type="submit">Login</button>
</form>
</div>
<br>